@import "tailwindcss";

.starBackground {
  @apply fixed top-0 left-0 min-w-screen min-h-screen overflow-hidden -z-10;
}

.starBackground-star {
  @apply absolute inset-0 rounded-full bg-white brightness-[0.65];
  animation: starAnimation linear infinite;
}

.starBackground-smallStar {
  @apply w-0.5 h-0.5;
}

.starBackground-mediumStar {
  @apply w-[3px] h-[3px];
}

.starBackground-bigStar {
  @apply w-1 h-1;
}

@keyframes starAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}